<section>
    <h2> Product Api Output - In Progress</h2>
    <table>
        <thead>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Marque</th>
                <th>Date Ajout</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of _products">
                <td>{{product.photo}}</td>
                <td>{{product.nom}}</td>
                <td>EN DUR    </td>
                <td>EN DUR    </td>
                <td>{{product.dateAjout | date : 'EEEE d MMMM y'}}</td>
                <td>{{product.prix}}</td>
            </tr>
        </tbody>
    </table>
</section>
